<div class="table-responsive">
    <table class="table table-bordered table-hover">
       <thead class="table-dark">
        <tr>
          <th>s.no</th>
          <th>Doctor name</th>
          <th>Hospital name</th>
          <th>Patient name</th>
          <th>Date</th>
          <th>Time</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of appointments,index as i">
          <th>{{i+1}}</th>
          <td>{{a.dname}}</td>
          <td>{{a.HospitalName}}</td>
          <td>{{a.name}}</td>
          <td>{{a.date}}</td>
          <td>{{a.time}}</td>

     
      </tbody>
    </table>
  </div>